html {
  font-family: 'Helvetica', sans-serif;
  background-color: whitesmoke;
}

.analytics {
  margin-top: 20px;
}

.analytics table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 200px;
}

.analytics th,
.analytics td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.analytics th {
  background-color: #e3f2ff;
  font-weight: bold;
}

.analytics tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.analytics tbody tr:hover {
  background-color: #e3f2ff;
}
