html {
  font-family: 'Helvetica', sans-serif;
  background-color: whitesmoke;
}

body{
  padding: 0px;
  margin: 0px;
}
.hero {
  background-image: url("../images/hero.jpg");
  background-blend-mode: soft-light;
  height: 92vh;
  width: auto;
  opacity: 90%;
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero-text h1{
  font-size: 80px;
  font-weight: 700;
  color: #e3f2ff;
  text-align: center;
  margin: 0;
  padding-top: 40px;;
  font-family: Helvetica;
}

.hero-body{
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  color: #e3f2ff;
}

.hero-body p{
  font-size: 100px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-family: "Dancing Script";
}

.hero-body a {
  color: #e3f2ff;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: #e3f2ff;
  padding: 10px 20px;
  border-radius: 12px;
  border: #e3f2ff 3px dotted;
}

.hero-body a:hover {
  background-color: #e3f2ff;
  color: black;
}