html {
  font-family: 'Helvetica', sans-serif;
  background-color: whitesmoke;
}


.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img{
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.product h2{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

.product p{
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.product a{
  background-color: #e3f2ff;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  border: #e3f2ff 3px dotted;
  margin: 10px;
  text-decoration: none;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content:baseline;
  margin-top: 20px;
  padding-top: 20px;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img{
  width: 130px;
  height: 130px;
  border-radius: 12px;
}

.item h2{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

.item p{
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.item button{
  background-color: #e3f2ff;
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 8px;
  border: 0px;
  text-decoration: none;
}

.item button:hover{
  cursor: pointer;
  outline: black 3px dotted;
}

.itemsInCart{
  margin: 20px;
  font-size: 24px;
  border-top: 3px dotted black;
  padding-top: 10px;
}